/*update fonts, add images,*/
/*TODO: each coffee is displayed in a div that contains a heading displaying the coffee name, and the type of roast in a paragraph. Don't display the ids, these are only for our application's internal use*/
/*TODO: When the page loads, the coffees should be sorted by their ids in ascending order*/
@import url('https://fonts.googleapis.com/css2?family=Abel&family=Anton&family=Dancing+Script:wght@400;500;600;700&family=Lobster&display=swap');


div .custom {
    background-color: #79554899;
    border: 2px inset black;
}
div .custom:hover {
    background-color: #795548;
    border: 2px inset black;
    opacity: .5;
}
.fc {
    font-family: "Dancing Script", cursive;
    font-weight: bold;
    font-size: 2.5rem;
    color: white;
}

p {
    font-size: 2rem;
    text-align: center;
    padding: unset;
    margin: unset;
    font-family: Papyrus, fantasy;
}
select {
    border: 4px solid black;
    opacity: .5;
}




